@import '~bootstrap/scss/bootstrap.scss';

.bull-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-size: 125px;
}

